$primary_color:  #2B3442;
$bgcolor: #252D3A;
$blue:#6E97FE;

.width
{
    max-width: 1200px;
}
.header
{
    margin-top: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.header__line
{
    background: $primary_color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    width: 70%;
    height: 5px;
}
.header__line--blue
{
    background-color: $blue;
    height: 5px;
    width: 50px;
    display: block;
    border-radius: 1px;
}
.vertical-container
{
    display: flex;
    flex-direction: column;
    background-color: $bgcolor; 
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .header
    {
        font-size: 12px;
        font-weight: 500;
    }
    .header__line
    {
        width: 60%;
    }
}